.Tops {
  background-image: url("../../assets/tops.jfif");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 6.2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 1.5rem;
}

.Automotive {
  background-image: url("../../assets/Automotive.jfif");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 6.2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 1.5rem;
}

.Homedecoration {
  background-image: url("../../assets/Home-decoration.avif");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 6.2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 1.5rem;
}

.Groceries {
  background-image: url("../../assets/Groceries.avif");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 6.2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 1.5rem;
}

.Skincare {
  background-image: url("../../assets/Skincare.avif");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 6.2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 1.5rem;
}

.Womensshoes {
  background-image: url("../../assets/Womens-shoes.avif");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 6.2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 1.5rem;
}

.Womensbags {
  background-image: url("../../assets/Womens-bags.jfif");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 6.2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 1.5rem;
}

.Womenswatches {
  background-image: url("../../assets/Womens-watches.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 6.2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 1.5rem;
}

.Menshirts {
  background-image: url("../../assets/Mens-shirts.jfif");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 6.2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 1.5rem;
}

.Womensdresses {
  background-image: url("../../assets/Womens-\ dresses.jfif");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 6.2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 1.5rem;
}

.biiigestddiv {
  padding: 2rem 0rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem 0rem;
}
