.bigdivvv {
  padding: 2rem 0rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: auto;
}

.titleaccor {
  font-size: 1.3rem;
  line-height: 38px;
  font-weight: 500;
  font-style: normal;
  text-align: center;
}
